<div class="club-writeup" style="--club-accent: #e07b39;">
    <h3 class="club-writeup-heading">About Amalgam</h3>
    <div class="club-writeup-rule"></div>

    <p>The word <em>amalgam</em> refers to an alloy of mercury, which forms an alloy with almost all metals. The founders of this club thought the meaning of this word resonated most with Materials Science, as it is highly interdisciplinary. It gives you exposure to many different subjects &mdash; branching into physics (think semiconductors), chemistry (polymer synthesis), biology (biomaterials), maths (crystal lattices), CS (modeling and simulations), etc. &mdash; making this name a true fit for the club.</p>

    <p>From day one, the club aimed to familiarize people with the field. We want people to know that no matter which major they are in, materials science will overlap with it (the same can be argued by the convenors of other clubs though).</p>

    <p>In the past, the club has conducted several activities, including experiments demonstrating the shape-memory effect of nitinol, the color-changing properties of thermochromic materials, diffusion simulations, and liquid-nitrogen demonstrations during Open Day. It also had a major selection talk given by our seniors, which included going through what materials major courses offer and a Q&amp;A session at the end.</p>

    <p>In collaboration with the materials department, a full-day orientation event was organized, featuring talks by Professor Mattier Bugnet (National Institute of Applied Science of Lyon, France) and Professor Jayakant of the University of Southern California. It also included an interaction session with alums and lab tours across different departments. We are always planning new activities and are open to suggestions.</p>

    <p class="club-signoff">Keep exploring!</p>
</div>
