<div class="club-writeup" style="--club-accent: #1a9e5f;">
    <h3 class="club-writeup-heading">About Naturalists</h3>
    <div class="club-writeup-rule"></div>

    <p>Naturalists is the UG Biology Club and organises various events to make biology more accessible. Talks by professors, students and alumni about their work are regularly organised by the club, to introduce areas of active research to students. Annually, we try to conduct an excursion to provide a flavour of field work and essential experience in hands-on research. Mock thesis presentations are organised for graduating students, which younger students can join to critique and learn from their seniors. A session on relevant courses and summer internship opportunities at IISc is also conducted to facilitate easier access to the plethora of labs at IISc. Overall, Naturalists plays a crucial role in making biology accessible and interesting for the undergraduate students at IISc.</p>
</div>
