<div class="club-writeup" style="--club-accent: #c99000;">
    <h3 class="club-writeup-heading">About Samasya</h3>
    <div class="club-writeup-rule"></div>

    <p>There is a distinct joy you get after struggling through a problem for hours and hours to finally arrive at the solution. You look at the paper just to make sure that it&rsquo;s still there. A beautiful proof can send you into fits of pure ecstasy. You know what&rsquo;s better than this feeling? Sharing this joy with others.</p>

    <p>At Samasya, devotees of rigor come together to discover and disseminate the joy of discovery &mdash; taking time out from their busy academic lives to find bliss in mathematics, satiating the intellectual hunger.</p>

    <p>Samasya originally began as a passion project when an ECE PhD student, Dr. Srikanth Pai, needed an excuse to do more mathematics. The group, consisting of math, physics, and bio students, would convene on late Saturday nights and discuss olympiad-style problems, puzzles, and questions inspired by research papers. In his final year, Srikanth passed the club to the undergraduate community.</p>

    <p>The club has come a long way since those early gatherings. Along with the regular problem-solving sessions, there are talks on esoteric topics, summer project expositions, and mock thesis presentations.</p>

    <p>We also represent the UG mathematics community on Open Day, volunteering for which is one of the most fun activities you can do. While talking to strangers, explaining the fair way to distribute cakes among 3 people might not be everyone&rsquo;s definition of fun, promising young kids toffees as awards only to lure them into a game they can never win is surely a very fun thing to do.</p>

    <p>It has also become an annual tradition to meet during Pi Day and discuss random facts about Pi. Estimating Pi using number theory. Estimating Pi using a pair of random numbers. Estimating Pi by Monte Carlo simulations. Some exhibit their extraordinary memory by reciting up to 200 digits of Pi. And if you happen to have nice seniors, they might even give you an apple pie :)</p>

    <p>We hope we have given you a good idea of our activities. Obviously, this is not the whole picture. Irrespective of your mathematical background, if you are interested in problem-solving or are curious about mathematics beyond the classroom, then Samasya has a place for you.</p>

    <p class="club-signoff">Happy Problem Solving!</p>
</div>
